@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<Navbar OnMenuItemClicked="UpdateApiDataType"></Navbar>
<div class="home-container">
    <MovieSection apiDataType="@apiDataType"></MovieSection>
</div>

