@using Moviely.FrontEnd.Services
@rendermode InteractiveServer
@inject  TMBDClient Client


@if (popularData == null)
{
    <h1>Loading Data</h1>
}

else{
<div class="movie-container">

    <MovieCard></MovieCard>
    <MovieCard></MovieCard>
    <MovieCard></MovieCard>
    <MovieCard></MovieCard>
    <MovieCard></MovieCard>
    <MovieCard></MovieCard>
    <MovieCard></MovieCard>

</div>
}
