@using Moviely.FrontEnd.Services
@rendermode InteractiveServer
@attribute [StreamRendering(true)]
@using Microsoft.AspNetCore.Components.QuickGrid



@if (_movieService == null)
{
  
}
else {

   <div class="movie-container" id="movie-container">
        @if (popularData == null)
        {
            <h1>Data Loading..</h1>
        }
        else
        {

            @foreach (var item in nestedPaginationList)
            {
                <MovieCard PopularMovieData="item"></MovieCard>
            }
         
        }
    </div>
 

    <button class="btn btn-outline-primary" @onclick="BeforePage">Before Page</button>
    <button class="btn btn-outline-primary" @onclick="nextPage">Next Page</button>
}


