@using Moviely.FrontEnd.Services
@rendermode InteractiveServer
@attribute [StreamRendering(true)]
@using Microsoft.AspNetCore.Components.QuickGrid



@if (_movieService == null)
{
  
}
else {


    <div class="main-container">
        <button class="custom-btn btn-14" @onclick="BeforePage">Before</button>
        <div class="movie-container" id="movie-container">
        @if (popularData == null)
        {
            <h1>Data Loading..</h1>
        }
        else
        {

            if (nestedPaginationList.Count!=0)
            {
                @foreach (var item in nestedPaginationList)
                {
                    <MovieCard PopularMovieData="item"></MovieCard>
                }
            }
            else
            {
               <h1 class="alert alert-warning">Go to Back</h1>
            }

           
         
        }
    </div>
        <button class="custom-btn btn-14" @onclick="nextPage">Next</button>
    </div>
 

    
    
}


