
<div class="movie-card">
    <div class="image-container">
        <img class="mc-image" src="https://wallpapercat.com/w/full/0/e/f/277545-1536x2733-iphone-hd-cars-disney-wallpaper-photo.jpg" />
    </div>
    <div class="text-container">
        <h3 class="mc-title">Cars</h3>
        <h4 class="mc-description">Body Text</h4>
    </div>
</div>