
<div class="movie-container">
    <MovieCard></MovieCard>
    <MovieCard></MovieCard>
    <MovieCard></MovieCard>
    <MovieCard></MovieCard>
    <MovieCard></MovieCard>
    <MovieCard></MovieCard>
    <MovieCard></MovieCard>
</div>