@rendermode InteractiveServer
@attribute [StreamRendering(true)]


<div class="movie-card">
    <div class="image-container">
        <img class="mc-image" src="@($"https://image.tmdb.org/t/p/w500/{PopularMovieData.PosterPath}")" />
    </div>
    <div class="text-container">
        <h3 class="mc-title">@PopularMovieData.Title</h3>
        <h4 class="mc-description">@PopularMovieData.Overview</h4>
    </div>
</div>